In [2]:
import pandas as pd

### AMERICAS Datasets

In [123]:
# Data collected from a previous project
americas_kickoff_df = pd.read_csv('datasets/americas_kickoff.csv')
americas_kickoff_df = americas_kickoff_df.drop(columns=['Unnamed: 0'])

americas_stage1_df = pd.read_csv('datasets/americas_stage1.csv')
americas_stage1_df = americas_stage1_df.drop(columns=['Unnamed: 0'])

americas_stage1_playoffs_df = pd.read_csv('datasets/americas_stage1_playoffs.csv')
americas_stage1_playoffs_df = americas_stage1_playoffs_df.drop(columns=['Unnamed: 0', '1', '2', '3', '4'])

# Combining the datasets into one df
americas_combined_df = pd.concat([americas_kickoff_df, americas_stage1_df, americas_stage1_playoffs_df], ignore_index=True)

In [124]:
unique_teams = sorted(americas_combined_df['Team'].unique())
print(unique_teams)

['100 Thieves', '2Game Esports', 'Cloud9', 'Evil Geniuses', 'FURIA', 'G2 Esports', 'KRÜ Esports', 'LOUD', 'Leviatán', 'MIBR', 'NRG Esports', 'Sentinels']

In [125]:
# Changing the region and team names for better clarity
americas_combined_df.insert(0, "Region", "AMERICAS")  # Make "Americas" the first column as "Region"

americas_teams_dict = {
    "100T": '100 Thieves',
    "2G": '2Game Esports',
    "C9": 'Cloud9',
    "EG": 'Evil Geniuses',
    "FUR": 'FURIA',
    "G2": 'G2 Esports',
    "KRU": 'KRÜ Esports',
    "LOUD": 'LOUD',
    "LEV": 'Leviatán',
    "MIBR": 'MIBR',
    "NRG": 'NRG Esports',
    "SEN": 'Sentinels',
}
americas_combined_df['Team'] = americas_combined_df['Team'].replace({v: k for k, v in americas_teams_dict.items()})

In [127]:
null_columns = americas_combined_df.columns[americas_combined_df.isnull().any()]
print(null_columns)

Index(['+1', '+2', '+3', '+4', '-4'], dtype='object')

In [128]:
americas_combined_df[["+1"]] = americas_combined_df[["+1"]].fillna(americas_combined_df[["+1"]].mean())
americas_combined_df[["+2"]] = americas_combined_df[["+2"]].fillna(americas_combined_df[["+2"]].mean())
americas_combined_df[["+3"]] = americas_combined_df[["+3"]].fillna(americas_combined_df[["+3"]].mean())
americas_combined_df[["+4"]] = americas_combined_df[["+4"]].fillna(americas_combined_df[["+4"]].mean())
americas_combined_df[["-4"]] = americas_combined_df[["-4"]].fillna(americas_combined_df[["-4"]].mean())

null_columns = americas_combined_df.columns[americas_combined_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [129]:
total_pistol_rounds = americas_combined_df["Pistol Rounds Won"] + americas_combined_df["Pistol Rounds Won Opp"]

americas_combined_df["Pistol Rounds Won"] = americas_combined_df["Pistol Rounds Won"] / total_pistol_rounds
americas_combined_df["Pistol Rounds Won Opp"] = americas_combined_df["Pistol Rounds Won Opp"] / total_pistol_rounds

americas_combined_df.head()

,Region,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,AMERICAS,EG,0.50,23,0.67,0.068966,0.0,0.25,0.33,0.52,...,0.8650,0.2800,0.605,0.916667,0.046667,0.0,1.0,1.0,0.0,0
1,AMERICAS,LOUD,0.50,26,0.71,0.173913,0.0,0.00,0.43,0.68,...,0.7200,0.1350,0.395,0.953333,0.083333,0.0,1.0,1.0,0.0,1
2,AMERICAS,MIBR,0.25,11,0.59,0.040000,0.0,0.00,0.25,0.53,...,0.7925,0.3000,0.675,0.953333,0.166667,0.0,1.0,1.0,0.0,0
3,AMERICAS,100T,0.75,28,0.82,0.200000,0.0,0.00,0.44,0.76,...,0.7000,0.2075,0.325,0.833333,0.046667,0.0,0.5,0.0,0.0,1
4,AMERICAS,2G,0.50,20,0.67,0.071429,0.0,0.00,0.38,0.37,...,0.9450,0.3450,0.900,0.850000,0.110000,0.0,1.0,1.0,0.0,0

In [130]:
americas_combined_df.to_csv('Datasets/americas_combined.csv')

### EMEA Datasets

In [131]:
# Data collected from a previous project
emea_kickoff_df = pd.read_csv('datasets/emea_kickoff.csv')
emea_kickoff_df = emea_kickoff_df.drop(columns=['Unnamed: 0'])

emea_stage1_df = pd.read_csv('datasets/emea_stage1.csv')
emea_stage1_df = emea_stage1_df.drop(columns=['Unnamed: 0'])

emea_stage1_playoffs_df = pd.read_csv('datasets/emea_stage1_playoffs.csv')
emea_stage1_playoffs_df = emea_stage1_playoffs_df.drop(columns=['Unnamed: 0'])

# Combining the datasets into one df
emea_combined_df = pd.concat([emea_kickoff_df, emea_stage1_df, emea_stage1_playoffs_df], ignore_index=True)

In [132]:
unique_teams = sorted(emea_combined_df['Team'].unique())
print(unique_teams)

['Apeks', 'BBL Esports', 'FNATIC', 'FUT Esports', 'GIANTX', 'Gentle Mates', 'KOI', 'Karmine Corp', 'Natus Vincere', 'Team Heretics', 'Team Liquid', 'Team Vitality']

In [133]:
# Changing the region and team names for better clarity
emea_combined_df.insert(0, "Region", "EMEA")  # Make "Americas" the first column as "Region"

emea_teams_dict = {
    "APK": 'Apeks',
    "BBL": 'BBL Esports',
    "FNC": 'FNATIC',
    "FUT": 'FUT Esports',
    "GX": 'GIANTX',
    "M8": 'Gentle Mates',
    "MKOI": 'KOI',
    "KC": 'Karmine Corp',
    "NAVI": 'Natus Vincere',
    "TH": 'Team Heretics',
    "TL": 'Team Liquid',
    "VIT": 'Team Vitality',
}
emea_combined_df['Team'] = emea_combined_df['Team'].replace({v: k for k, v in emea_teams_dict.items()})

In [134]:
null_columns = emea_combined_df.columns[emea_combined_df.isnull().any()]
print(null_columns)

Index(['+4', '-4'], dtype='object')

In [135]:
emea_combined_df[["+4"]] = emea_combined_df[["+4"]].fillna(emea_combined_df[["+4"]].mean())
emea_combined_df[["-4"]] = emea_combined_df[["-4"]].fillna(emea_combined_df[["-4"]].mean())

null_columns = emea_combined_df.columns[emea_combined_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [136]:
emea_combined_df.to_csv('Datasets/emea_combined.csv')

### APAC Datasets

In [137]:
# Data collected from a previous project
apac_kickoff_df = pd.read_csv('datasets/apac_kickoff.csv')
apac_kickoff_df = apac_kickoff_df.drop(columns=['Unnamed: 0'])

apac_stage1_df = pd.read_csv('datasets/apac_stage1.csv')
apac_stage1_df = apac_stage1_df.drop(columns=['Unnamed: 0'])

apac_stage1_playoffs_df = pd.read_csv('datasets/apac_stage1_playoffs.csv')
apac_stage1_playoffs_df = apac_stage1_playoffs_df.drop(columns=['Unnamed: 0'])

# Combining the datasets into one df
apac_combined_df = pd.concat([apac_kickoff_df, apac_stage1_df, apac_stage1_playoffs_df], ignore_index=True)

In [138]:
unique_teams = sorted(apac_combined_df['Team'].unique())
print(unique_teams)

['BOOM Esports', 'DRX', 'DetonatioN FocusMe', 'Gen.G Esports', 'Global Esports', 'Nongshim RedForce', 'Paper Rex', 'Rex Regum Qeon', 'T1', 'TALON', 'Team Secret', 'ZETA DIVISION']

In [139]:
# Changing the region and team names for better clarity
apac_combined_df.insert(0, "Region", "APAC")  # Make "Americas" the first column as "Region"

apac_teams_dict = {
    "BME": 'BOOM Esports',
    "DRX": 'DRX',
    "DFM": 'DetonatioN FocusMe',
    "GEN": 'Gen.G Esports',
    "GE": 'Global Esports',
    "NS": 'Nongshim RedForce',
    "PRX": 'Paper Rex',
    "RRQ": 'Rex Regum Qeon',
    "T1": 'T1',
    "TLN": 'TALON',
    "TS": 'Team Secret',
    "ZETA": 'ZETA DIVISION',
}
apac_combined_df['Team'] = apac_combined_df['Team'].replace({v: k for k, v in apac_teams_dict.items()})

In [140]:
null_columns = apac_combined_df.columns[apac_combined_df.isnull().any()]
print(null_columns)

Index([], dtype='object')

In [141]:
apac_combined_df.to_csv('Datasets/apac_combined.csv')

### Combined dataset for all the regions

In [ ]:
vct_combined_df = pd.concat([americas_combined_df, emea_combined_df, apac_combined_df], ignore_index=True)
vct_combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384 entries, 0 to 383
Data columns (total 37 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Region                 384 non-null    object
 1   Team                   384 non-null    object
 2   Pistol Rounds Won      384 non-null    float64
 3   First Kills            384 non-null    int64
 4   KAST                   384 non-null    float64
 5   Clutches               384 non-null    float64
 6   Eco                    384 non-null    float64
 7   Semi-Eco               384 non-null    float64
 8   Half-Buy               384 non-null    float64
 9   Full-Buy               384 non-null    float64
 10  +1                     384 non-null    float64
 11  -1                     384 non-null    float64
 12  0                      384 non-null    float64
 13  +2                     384 non-null    float64
 14  -2                     384 non-null    float64
 15  -3                     384 non-null    float64
 16  +3                     384 non-null    float64
 17  +4                     384 non-null    float64
 18  -4                     384 non-null    float64
 19  Pistol Rounds Won Opp  384 non-null    float64
 20  First Kills Opp        384 non-null    int64
 21  KAST Opp               384 non-null    float64
 22  Clutches Opp           384 non-null    float64
 23  Eco Opp                384 non-null    float64
 24  Semi-Eco Opp           384 non-null    float64
 25  Half-Buy Opp           384 non-null    float64
 26  Full-Buy Opp           384 non-null    float64
 27  +1 Opp                 384 non-null    float64
 28  -1 Opp                 384 non-null    float64
 29  0 Opp                  384 non-null    float64
 30  +2 Opp                 384 non-null    float64
 31  -2 Opp                 384 non-null    float64
 32  -3 Opp                 384 non-null    float64
 33  +3 Opp                 384 non-null    float64
 34  +4 Opp                 384 non-null    float64
 35  -4 Opp                 384 non-null    float64
 36  Result                 384 non-null    int64
dtypes: float64(32), int64(3), object(2)
memory usage: 111.1+ KB

In [149]:
null_columns = vct_combined_df.columns[vct_combined_df.isnull().any()]
print(null_columns)

null_indices = vct_combined_df[vct_combined_df.isnull().any(axis=1)].index
vct_combined_df.loc[null_indices]

Index([], dtype='object')

Empty DataFrame
Columns: [Region, Team, Pistol Rounds Won, First Kills, KAST, Clutches, Eco, Semi-Eco, Half-Buy, Full-Buy, +1, -1, 0, +2, -2, -3, +3, +4, -4, Pistol Rounds Won Opp, First Kills Opp, KAST Opp, Clutches Opp, Eco Opp, Semi-Eco Opp, Half-Buy Opp, Full-Buy Opp, +1 Opp, -1 Opp, 0 Opp, +2 Opp, -2 Opp, -3 Opp, +3 Opp, +4 Opp, -4 Opp, Result]
Index: []

[0 rows x 37 columns]

In [150]:
vct_combined_df.head()

,Region,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,AMERICAS,EG,0.50,23,0.67,0.068966,0.0,0.25,0.33,0.52,...,0.8650,0.2800,0.605,0.916667,0.046667,0.0,1.0,1.0,0.0,0
1,AMERICAS,LOUD,0.50,26,0.71,0.173913,0.0,0.00,0.43,0.68,...,0.7200,0.1350,0.395,0.953333,0.083333,0.0,1.0,1.0,0.0,1
2,AMERICAS,MIBR,0.25,11,0.59,0.040000,0.0,0.00,0.25,0.53,...,0.7925,0.3000,0.675,0.953333,0.166667,0.0,1.0,1.0,0.0,0
3,AMERICAS,100T,0.75,28,0.82,0.200000,0.0,0.00,0.44,0.76,...,0.7000,0.2075,0.325,0.833333,0.046667,0.0,0.5,0.0,0.0,1
4,AMERICAS,2G,0.50,20,0.67,0.071429,0.0,0.00,0.38,0.37,...,0.9450,0.3450,0.900,0.850000,0.110000,0.0,1.0,1.0,0.0,0

In [151]:
vct_combined_df.to_csv('Datasets/vct_combined.csv')

### Storing the averages for each team

In [152]:
americas_average_df = americas_combined_df.groupby('Team').mean(numeric_only=True).reset_index()
americas_average_df

,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,+1,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,100T,0.469697,26.272727,0.730000,0.166413,0.143636,0.197273,0.435455,0.572727,0.771683,...,0.795455,0.224545,0.522500,0.941212,0.063636,0.000000,0.909091,0.727273,0.0,0.454545
1,2G,0.452381,20.142857,0.671429,0.128353,0.178571,0.020000,0.391429,0.425714,0.665357,...,0.877143,0.334643,0.628571,0.966190,0.222381,0.010000,0.928571,0.857143,0.0,0.142857
2,C9,0.541667,25.600000,0.707000,0.205404,0.083000,0.025000,0.479000,0.585000,0.804817,...,0.768250,0.218000,0.480000,0.953667,0.085000,0.000000,0.991500,1.000000,0.0,0.400000
3,EG,0.500000,23.545455,0.693636,0.195855,0.257273,0.292727,0.493636,0.550909,0.731001,...,0.760909,0.253636,0.456136,0.900303,0.059091,0.000000,0.909091,0.818182,0.0,0.545455
4,FUR,0.270833,19.500000,0.663750,0.133068,0.145000,0.031250,0.417500,0.471250,0.654375,...,0.790625,0.345625,0.564688,0.880417,0.115417,0.020625,0.992500,0.875000,0.0,0.125000
5,G2,0.552976,33.928571,0.746429,0.213730,0.023571,0.320000,0.600000,0.637857,0.810834,...,0.695179,0.176964,0.440893,0.923571,0.046429,0.010357,0.892857,0.785714,0.0,0.928571
6,KRU,0.541667,24.750000,0.726667,0.196171,0.083333,0.375000,0.565833,0.555833,0.792348,...,0.706250,0.214167,0.450764,0.868611,0.042500,0.000000,1.000000,0.916667,0.0,0.583333
7,LEV,0.458333,21.500000,0.717500,0.171480,0.041250,0.192500,0.465000,0.532500,0.778750,...,0.752500,0.221250,0.505833,0.915417,0.061250,0.000000,0.979375,0.750000,0.0,0.250000
8,LOUD,0.518519,29.333333,0.698889,0.137035,0.083333,0.175556,0.488889,0.544444,0.778333,...,0.776667,0.221667,0.546389,0.961852,0.077407,0.000000,0.936667,1.000000,0.0,0.222222
9,MIBR,0.544444,29.666667,0.726000,0.166306,0.222000,0.262667,0.543333,0.579333,0.772423,...,0.736833,0.205833,0.451278,0.900889,0.073333,0.000000,0.919000,0.733333,0.0,0.666667
10,NRG,0.527778,24.888889,0.726667,0.106846,0.000000,0.094444,0.540000,0.450000,0.646426,...,0.847500,0.323611,0.613611,0.948148,0.112222,0.018333,0.944444,0.777778,0.0,0.333333
11,SEN,0.506548,30.642857,0.737857,0.167617,0.170000,0.247143,0.502143,0.607143,0.788132,...,0.730714,0.213929,0.477143,0.807143,0.065476,0.003571,0.892857,0.714286,0.0,0.714286

In [153]:
emea_average_df = emea_combined_df.groupby('Team').mean(numeric_only=True).reset_index()
emea_average_df

,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,+1,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,APK,2.142857,24.000000,0.675714,0.121045,0.071429,0.077143,0.472857,0.470000,0.770000,...,0.821071,0.230000,0.553929,0.921429,0.150000,0.014286,1.000000,0.571429,0.0,0.000000
1,BBL,3.076923,26.615385,0.720769,0.155869,0.116154,0.276923,0.569231,0.563846,0.787115,...,0.725000,0.212885,0.431538,0.914103,0.091538,0.011154,0.930000,0.769231,0.0,0.615385
2,FNC,2.384615,29.076923,0.728462,0.170188,0.179231,0.230769,0.548462,0.619231,0.803462,...,0.761731,0.196538,0.521346,0.908205,0.059231,0.000000,0.894231,0.846154,0.0,0.769231
3,FUT,2.500000,24.166667,0.703333,0.154489,0.094167,0.202500,0.532500,0.535000,0.749167,...,0.770833,0.250833,0.465833,0.873611,0.066111,0.015417,0.821250,0.833333,0.0,0.500000
4,GX,1.625000,24.625000,0.692500,0.109753,0.150000,0.138750,0.421250,0.496250,0.726875,...,0.814063,0.273125,0.584688,0.943333,0.148333,0.031250,0.991250,1.000000,0.0,0.250000
5,KC,2.666667,28.222222,0.735556,0.146892,0.058889,0.174444,0.553333,0.583333,0.783611,...,0.704722,0.216389,0.456667,0.922593,0.100741,0.011111,1.000000,0.777778,0.0,0.333333
6,M8,2.111111,25.000000,0.677778,0.098896,0.136667,0.165556,0.478889,0.490000,0.650556,...,0.792222,0.293889,0.574167,0.960741,0.105185,0.046111,0.986111,1.000000,0.0,0.333333
7,MKOI,2.428571,23.142857,0.678571,0.125277,0.128571,0.082857,0.378571,0.464286,0.694643,...,0.830714,0.305357,0.618214,0.910000,0.065238,0.000000,1.000000,0.857143,0.0,0.142857
8,NAVI,2.800000,27.300000,0.698000,0.149449,0.083000,0.050000,0.466000,0.525000,0.769500,...,0.782000,0.230500,0.530750,0.908667,0.057333,0.000000,0.990000,0.700000,0.0,0.400000
9,TH,2.461538,26.384615,0.729231,0.160216,0.102308,0.252308,0.543077,0.580000,0.759423,...,0.793462,0.240577,0.461731,0.896923,0.055385,0.005385,0.862308,0.692308,0.0,0.692308
10,TL,2.882353,32.588235,0.724118,0.154860,0.291765,0.218824,0.554118,0.590000,0.792353,...,0.748529,0.207647,0.479118,0.932353,0.072353,0.015588,0.905882,0.882353,0.0,0.705882
11,VIT,3.000000,25.400000,0.701000,0.168147,0.000000,0.220000,0.564000,0.594000,0.854500,...,0.724000,0.145500,0.440750,0.871000,0.038000,0.008500,0.900000,0.900000,0.0,0.600000

In [154]:
apac_average_df = apac_combined_df.groupby('Team').mean(numeric_only=True).reset_index()
apac_average_df

,Team,Pistol Rounds Won,First Kills,KAST,Clutches,Eco,Semi-Eco,Half-Buy,Full-Buy,+1,...,+1 Opp,-1 Opp,0 Opp,+2 Opp,-2 Opp,-3 Opp,+3 Opp,+4 Opp,-4 Opp,Result
0,BME,3.000000,26.555556,0.726667,0.189085,0.000000,0.463333,0.548889,0.520000,0.762778,...,0.763889,0.237222,0.462500,0.944444,0.111111,0.006111,0.854444,0.777778,0.0,0.555556
1,DFM,2.000000,20.222222,0.665556,0.114888,0.000000,0.346667,0.437778,0.401111,0.688611,...,0.792222,0.283611,0.547130,0.941481,0.064074,0.000000,0.992222,0.777778,0.0,0.222222
2,DRX,3.076923,33.307692,0.733077,0.145300,0.133077,0.262308,0.556154,0.577692,0.783269,...,0.774038,0.216731,0.506731,0.972308,0.063077,0.006538,0.923077,0.692308,0.0,0.769231
3,GE,1.750000,20.125000,0.673750,0.129961,0.000000,0.221250,0.470000,0.465000,0.725938,...,0.801562,0.274062,0.478854,0.918333,0.081667,0.031250,1.000000,0.875000,0.0,0.250000
4,GEN,2.571429,27.571429,0.733571,0.161173,0.090000,0.207857,0.677143,0.619286,0.846786,...,0.737143,0.153214,0.434107,0.874762,0.045238,0.022143,0.863929,0.785714,0.0,0.642857
5,NS,2.636364,30.909091,0.720000,0.166200,0.130000,0.244545,0.568182,0.573636,0.782727,...,0.766136,0.217273,0.531818,0.913636,0.052727,0.000000,1.000000,0.909091,0.0,0.545455
6,PRX,3.250000,28.916667,0.733333,0.167338,0.083333,0.338333,0.530000,0.575000,0.766458,...,0.709792,0.233542,0.517292,0.929722,0.058611,0.020000,0.909583,0.916667,0.0,0.500000
7,RRQ,3.000000,33.769231,0.727692,0.172573,0.102308,0.097692,0.511538,0.595385,0.793846,...,0.765385,0.186923,0.484615,0.903077,0.038205,0.000000,0.915385,0.923077,0.0,0.615385
8,T1,2.384615,30.846154,0.697692,0.124679,0.120769,0.173077,0.564615,0.551538,0.769038,...,0.766538,0.230962,0.500962,0.945385,0.058205,0.000000,0.992308,0.923077,0.0,0.538462
9,TLN,2.666667,24.666667,0.688333,0.128438,0.016667,0.110000,0.489167,0.503333,0.758750,...,0.777708,0.241250,0.465000,0.898611,0.048333,0.000000,0.958333,0.833333,0.0,0.500000
10,TS,2.857143,25.285714,0.678571,0.115502,0.107143,0.190000,0.458571,0.480000,0.734286,...,0.809643,0.265714,0.655000,0.943810,0.094286,0.028571,1.000000,0.714286,0.0,0.142857
11,ZETA,2.142857,25.000000,0.661429,0.147176,0.094286,0.095714,0.480000,0.508571,0.684643,...,0.772857,0.279643,0.483214,0.963333,0.090000,0.000000,0.918571,0.714286,0.0,0.285714

In [155]:
americas_average_df.to_csv('Datasets/americas_average.csv')
emea_average_df.to_csv('Datasets/emea_average.csv')
apac_average_df.to_csv('Datasets/apac_average.csv')